# Домашнее задание.

Вам нужно решить задачи, предложенные в блокноте и отправить этот блокнот обратно через проект в ЛМС. 

Засчитываются только те задания, которые полностью выполнены и код работает (мы будем вручную запускать эти ячейки, поэтому если ваш код не сработает, то мы будем считать, что задание не выполненно).

Если мы обнаружим списанные работы - мы обнулим результат всем студентам, которых мы подозреваем в списывании. Если у нас будут сомнения, будет проведена защита домашнего задания по результатам которого, к домашнему заданию может быть применен штраф от 25 до 100%.

**Задание 1.**  
*5 баллов*  

1. На странице в https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue нужно найти таблицу под названием "List of largest companies by revenue". 

2. С помощью поиска по тегам, нужно сохранить из таблицы следующие колонки: 'Name', 'Revenue (USD billion)', 'Country'. Каждая колонка таблицы должна быть сохранена в отдельную переменную (см. ниже названия), внутри которой лежит список, где первое значение - название колонки.

При поиске класса таблицы опускайте часть названия класса, которая относится к jquery (например jquery-tablesorter). Также обратите внимание, что первое значение в каждом ряду (колонка rank) лежит в тэге th, поэтому номер элемента для нужной колонке в первом ряду с table headers и в других рядах будет отличаться на 1. 

Например, колонки 'industry' список будет выглядеть так:  
['Industry', 'Retail', ...остальные значения..., 	'Oil and gas']
3. Выведите эти три списка командой  
print(name)  
print(revenue)  
print(industry)

**Правильный ответ:**

`['Name', 'Walmart', 'Sinopec', 'Royal Dutch Shell', 'China National Petroleum', 'State Grid', 'Saudi Aramco', 'BP', 'ExxonMobil', 'Volkswagen', 'Toyota', 'Apple', 'Berkshire Hathaway', 'Amazon', 'UnitedHealth', 'Samsung Electronics', 'Glencore', 'McKesson', 'Daimler', 'CVS Health', 'Total', 'China State Construction', 'Trafigura', 'Foxconn', 'Exor', 'AT&T', 'ICBC', 'AmerisourceBergen', 'Chevron', 'Ping An Insurance', 'Ford', 'China Construction Bank', 'General Motors', 'Mitsubishi', 'Honda', 'Costco', 'Agricultural Bank of China', 'Alphabet', 'Cardinal Health', 'SAIC Motor', 'Walgreens Boots Alliance', 'JPMorgan Chase', 'Gazprom', 'Verizon', 'Bank of China', 'Allianz', 'AXA', 'Kroger', 'General Electric', 'Fannie Mae', 'Lukoil']`

`['Revenue(USD millions)', '$514,405', '$414,649', '$396,556', '$392,976', '$387,056', '$355,905', '$303,738', '$290,212', '$278,341', '$272,612', '$265,595', '$247,837', '$232,887', '$226,247', '$221,579', '$219,754', '$214,319', '$197,515', '$194,579', '$184,106', '$181,524', '$180,744', '$175,617', '$175,009', '$170,756', '$168,979', '$167,939', '$166,339', '$163,597', '$160,338', '$151,110', '$147,049', '$145,243', '$143,302', '$141,576', '$139,523', '$136,819', '$136,809', '$136,392', '$131,537', '$131,412', '$131,302', '$130,863', '$127,714', '$126,779', '$125,578', '$121,162', '$120,268', '$120,101', '$119,145']`

`['Industry', 'Retail', 'Oil and gas', 'Oil and gas', 'Oil and gas', 'Electricity', 'Oil and gas', 'Oil and gas', 'Oil and gas', 'Automotive', 'Automotive', 'Electronics', 'Conglomerate', 'Retail', 'Healthcare', 'Electronics', 'Commodities', 'Healthcare', 'Automotive', 'Healthcare', 'Oil and gas', 'Construction', 'Commodities', 'Electronics', 'Financials', 'Telecommunications', 'Financials', 'Pharmaceuticals', 'Oil and gas', 'Financials', 'Automotive', 'Financials', 'Automotive', 'Conglomerate', 'Automotive', 'Retail', 'Financials', 'Internet', 'Pharmaceuticals', 'Automotive', 'Retail', 'Financials', 'Oil and gas', 'Telecommunications', 'Financials', 'Financials', 'Financials', 'Retail', 'Conglomerate', 'Financials', 'Oil and gas']`

In [ ]:
# Ваше решение. При необходимости создавайте новые ячейки под этой с помощью знака +

**Задание 2.**  
*5 баллов (каждый шаг 1 балл)*  
В задании вы должны использовать данные, собранные в пункте 1. Задание, выполненное без использования автоматически собранных данных, не засчитывается (например, если вы скопировали все значения из таблицы вручную и нашли их среднее).

1. Обработайте список revenue - для каждого значения замените знак $ на пустую строку, а запятую на точку. После этого преобразуйте все значения во float. Итоговый список должен выглядеть вот так.
`['Revenue(USD millions)', 514.405, 414.649, 396.556, 392.976, 387.056, 355.905, 303.738, 290.212, 278.341, 272.612, 265.595, 247.837, 232.887, 226.247, 221.579, 219.754, 214.319, 197.515, 194.579, 184.106, 181.524, 180.744, 175.617, 175.009, 170.756, 168.979, 167.939, 166.339, 163.597, 160.338, 151.11, 147.049, 145.243, 143.302, 141.576, 139.523, 136.819, 136.809, 136.392, 131.537, 131.412, 131.302, 130.863, 127.714, 126.779, 125.578, 121.162, 120.268, 120.101, 119.145]`


2. Создайте словарь firms, в котором ключом будет название компании (firm), а значением - их доходы (revenue).

Итоговый словарь: 

`{'AT&T': 170.756,
 'AXA': 125.578,
 'Agricultural Bank of China': 139.523,
 'Allianz': 126.779,
 'Alphabet': 136.819,
 'Amazon': 232.887,
 'AmerisourceBergen': 167.939,
 'Apple': 265.595,
 'BP': 303.738,
 'Bank of China': 127.714,
 'Berkshire Hathaway': 247.837,
 'CVS Health': 194.579,
 'Cardinal Health': 136.809,
 'Chevron': 166.339,
 'China Construction Bank': 151.11,
 'China National Petroleum': 392.976,
 'China State Construction': 181.524,
 'Costco': 141.576,
 'Daimler': 197.515,
 'Exor': 175.009,
 'ExxonMobil': 290.212,
 'Fannie Mae': 120.101,
 'Ford': 160.338,
 'Foxconn': 175.617,
 'Gazprom': 131.302,
 'General Electric': 120.268,
 'General Motors': 147.049,
 'Glencore': 219.754,
 'Honda': 143.302,
 'ICBC': 168.979,
 'JPMorgan Chase': 131.412,
 'Kroger': 121.162,
 'Lukoil': 119.145,
 'McKesson': 214.319,
 'Mitsubishi': 145.243,
 'Ping An Insurance': 163.597,
 'Royal Dutch Shell': 396.556,
 'SAIC Motor': 136.392,
 'Samsung Electronics': 221.579,
 'Saudi Aramco': 355.905,
 'Sinopec': 414.649,
 'State Grid': 387.056,
 'Total': 184.106,
 'Toyota': 272.612,
 'Trafigura': 180.744,
 'UnitedHealth': 226.247,
 'Verizon': 130.863,
 'Volkswagen': 278.341,
 'Walgreens Boots Alliance': 131.537,
 'Walmart': 514.405}`

2. Создайте словарь industries, в котором ключ - название индустрии (industry), а значение пустой список.

3. Добавьте в словарь industries в список к каждому ключу названия фирм, которые относятся к этой индустрии.

Итоговый словарь:

`{'Automotive': ['Volkswagen',
  'Toyota',
  'Daimler',
  'Ford',
  'General Motors',
  'Honda',
  'SAIC Motor'],
 'Commodities': ['Glencore', 'Trafigura'],
 'Conglomerate': ['Berkshire Hathaway', 'Mitsubishi', 'General Electric'],
 'Construction': ['China State Construction'],
 'Electricity': ['State Grid'],
 'Electronics': ['Apple', 'Samsung Electronics', 'Foxconn'],
 'Financials': ['Exor',
  'ICBC',
  'Ping An Insurance',
  'China Construction Bank',
  'Agricultural Bank of China',
  'JPMorgan Chase',
  'Bank of China',
  'Allianz',
  'AXA',
  'Fannie Mae'],
 'Healthcare': ['UnitedHealth', 'McKesson', 'CVS Health'],
 'Internet': ['Alphabet'],
 'Oil and gas': ['Sinopec',
  'Royal Dutch Shell',
  'China National Petroleum',
  'Saudi Aramco',
  'BP',
  'ExxonMobil',
  'Total',
  'Chevron',
  'Gazprom',
  'Lukoil'],
 'Pharmaceuticals': ['AmerisourceBergen', 'Cardinal Health'],
 'Retail': ['Walmart',
  'Amazon',
  'Costco',
  'Walgreens Boots Alliance',
  'Kroger'],
 'Telecommunications': ['AT&T', 'Verizon']}`

5. Напишите программу, которая проходит циклом по всем фирмам и для каждой фирмы выводит следующее сообщение на новой строке: '{название фирмы} represent {название индустрии} and has earned {доходы}' million dollars.

In [ ]:
# обработка revenues

In [ ]:
# словарь firms

In [ ]:
# словарь industries

In [ ]:
# добавляем фирмы в словарь industries

In [ ]:
# доходы фирм